:root {
  --stream-popout-width: 250px;
  --user-popout-width: 300px;
}

/* STREAM POPOUT */
.previewContainer-35LFgt {
  height: auto;
}

.streamPreview-I7itZ6 {
  width: var(--stream-popout-width);
  transform: translateY(-50%);
}

/* USER POPOUT */
.userPopout-2j1gM4 {
  width: var(--user-popout-width) !important;
}

.popoutBanner-3cqRD9 {
  width: 100% !important;
}

.popoutBannerPremium-3i5EEI {
  width: 100% !important;
  padding-bottom: 40% !important;
  height: 0px !important;
}

.avatarPositionPremium-1zPBq9 {
  margin-top: calc(80px / var(--user-popout-width)) !important;
}